.contactItem{
  margin-top: 20px;
}

.contactItem h2{
  font-weight: 400;
  text-transform: uppercase;
}

.contactItem p{
  margin-top: 10px;
  font-size: 18px;
  max-height: 300px;
  line-height: 25px;
  overflow-y: auto;
  color: hsl(210, 20%, 25%);
}

.contactItem img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

